*.ninja
examples/**/build/
!tools/suite/*.ninja
tools/bf
tools/.coverage*
tools/htmlcov/
__pycache__/
*.pyc
*.ninja_deps
*.ninja_log
*.obj
*.exp
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.d
*.o
*.so
*.a
*.coverage
*.xcodeproj
